*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: inter-semibold;
    src: url(../assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(../assets/fonts/static/Inter-Regular.ttf);
}


